html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
body {
  background-image: url("page1.png"), url("page1.png");
  background-repeat: no-repeat;
background-size: 1704px 1090px;
       position: absolute;
}
 {
  background-image: url("page2.png"), url("page2.png");
  background-repeat: no-repeat;
background-size: 1704px 1090px;
}
.container {
  position: top;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 50%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(40%, 655%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: #2D4A6A;
}

